{% extends "header.html" %}
{% block content %}
{% if error_msg %}
    <p>{{ error_msg }}</p>
{% endif %}

<div class="container-fluid">
    {% for receipt in receipts %}
    <div class="media">
        <img class="mr-3 receipt-img" src="data:image/png;base64,{{ get_b64_img(receipt.receipt_img.read()) }}" alt="">
        <div class="media-body">
        <h5 class="mt-0">
            <a href="{{ url_for('report.edit', hash=receipt.hash) }}">
                {{ receipt.description }}
            </a> 
        </h5>
        <h5 class="mt-0">
            ${{ receipt.cost }}
        </h5>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}