.receipt-img {
    width: 200px;
    height: 200px;
    padding: 3;
}

.update-pic {
    width: 300px;
    height: 300px;
    padding: 3;
}

.propic {
    width: 250px;
    height: 250px;
    padding: 3;
}